{% extends 'layout.html' %} {% block content %}
<form action="/edit-{{task_to_edit.id}}/" method="POST">
    {% csrf_token %}

    <div class="form-group">
        <label for="title">title</label>
        <input type="text" name="title" class="form-control" id="title" value ="{{task_to_edit.title}}">
        <small id="emailHelp" class="form-text text-muted">title.</small>
    </div>
    <div class="form-group">
        <label for="desc">description</label>
        <textarea name="desc" class="form-control" id="desc" rows="3">{{task_to_edit.desc}}</textarea>

    </div>
    <div class="form-group">
            <label for="done">Done?</label>
        <select name="done"  class="form-control form-control-sm">
        
        {% if task_to_edit.done %}
        <option value="1" selected>Yest</option>
        <option value="0" >not yet</option>
        {% else %}
        <option value="1" >Yest</option>
        <option value="0" selected >not yet</option>
        {% endif %}
            

        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock content %}